@import url('https://fonts.googleapis.com/css2?family=Notable&family=Suez+One&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
}
body,html{
    width: 100%;
    height: 100%;
}

body{
    background-color: black;
    font-family: 'Trebuchet MS',Helvetica;
}
header {
    width: 100%;
    padding: 10px 0.5px 0px 0.5px;
    background: transparent;
    float: left;
    position: fixed;
}

header #logo {
    color: white;
    cursor: pointer;
}

header #logo span{
    font-size: 1.7em;
    line-height: 45px;
    margin-left: 40px;
    font-family: 'Notable',serif;
}

@media (min-width:701px){
    #logo{
        float: left;
        width: 30%;
        font-size: 1.1em;
    }

    .about {
        float: right;
        width: 67%;

    }
}
@media (max-width:700px){
    #logo{
        margin-top: 15px;
        width: 100%;
        font-size: 1.5em;
    }

    .about {
        float: left;
        width: 100%;
    }
}

.about {
    text-align: center;
    font-size: 1em;
    line-height: 40px;
    margin-bottom: 10px;
}

.about > a {color: white;text-decoration: none;font-size: 1.2em;}

.about > a:hover {
    color:skyblue;
    text-decoration: underline;
}
.about > a:not(:last-child){
    margin-right: 7%;
}
/* Full-width input fields */
input[type=text], input[type=password],input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 5% 10%;
    background-color: #f44336;
}

.container {
    padding: 5%;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 35%; /* Could be more or less, depending on screen size */
}

@media (max-width:600px){
    .modal-content {
        background-color: #fefefe;
        margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
        border: 1px solid #888;
        width: 70%; /* Could be more or less, depending on screen size */
    }
}
@media (max-width:1000px) and (min-width:601px){
    .modal-content {
        background-color: #fefefe;
        margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
        border: 1px solid #888;
        width: 40%; /* Could be more or less, depending on screen size */
    }
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}

.msg {
    display: none;
    width: 100%;
    margin: 0 20px 0xp 20px;
    border: 2px solid orange;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    font-size: bold;
    background-color: orange;
    margin: 0 0 0 10px;
}
.fixed {
    z-index: 1;
    background-color: white;
    border-bottom: 1px solid silver;
}

header.fixed #logo {
    color: black;
}

.fixed .about a {color: black;}
.fixed .about a:hover{color: blue;}

#top {
    width: 100%;
    height: 100%;

    background-image: url(https://i.pinimg.com/564x/a0/8c/ce/a08cce1bf44af4fbddcc33c34b272874.jpg);
    background-color:gray;
    background-blend-mode: multiply;
    background-size: cover;
    text-align: center;
    color: white;
    font-size: 3em;   
}
@media (min-width:1001px){
    #top {
        font-size: 3em;
        height: 1000px;
    }
}
@media (max-width:1000px) and (min-width:650px){
    #top {
        font-size: 2em;
        height: 600px;
    }
}
@media (max-width:650px){
    #top {
        font-size: 1.3em;
        padding-top: 50%;
        height: 300px;
    }
}
#top h1 {
    padding-top: 20%;
}
#top h3 {
    color: teal;
}

#main {
    padding: 100px 20%;
    width: 60%;
    float: left;
    background-color: #f6f6f6;
    border-top: 2px solid silver;
    color: black;
    font-size: 1.3em;
}
@media (min-width:1401px){
    #main {
        padding: 100px 20%;
        width: 60%;
    }
}
@media (max-width:1400px){
    #main {
        padding: 100px 10%;
        width: 80%;
    }
}
@media (max-width:700px){
    #main div {
        width: 98%!important;
    }
}
#main div {
    width: 48%;
    margin-right: 2%;
    float: left;   
}

#main h2 {font-size: 3em;}
#main span {color: gray;}

#overview {
    float:left;
    background-image: url(https://i.pinimg.com/564x/90/e5/0f/90e50f73f180308e5ead474c0a4ad35b.jpg);
    background-blend-mode: multiply;
    background-color: hotpink;
    background-size: cover;
    background-attachment: fixed;

    padding: 100px 0;
    width: 100%;
    text-align: center;
    color: white;
}
#overview h2 {font-size: 4em;}
#overview h4 {color: gray;font-size: 1.5em;}

#overview .img {
    float: left;
    width: 30%;
    margin-right: 5%;
    margin-top: 50px;
}
#overview .img:nth-child(odd) {
    margin-left: 18%;
}

#overview img {
    background: white;
    padding: 5px;
    border: 2px solid silver;
    float: left;
    width: 100%;
    max-width: 500px;
    max-height: 450px;
}
#overview span {
    float: left;
    width: 100%;
    font-size: 2em;
    margin-top: 10px;
}
@media (max-width: 700px){
    #overview .img {
        width: 80%!important;
        margin-right: 0!important;
        margin-left: 10%!important;
    }
}

#contacts {
    width: 100%;
    float: left;
    padding-bottom: 40px;
    padding-top: 70px;
    border-top: 4px solid silver;
    background-color: white;
}

h1, h2, h3, h4, h5 {
    font-family: 'Notable',serif;
    font-weight: lighter;
}

#contacts h5 {font-size: 3em; color: black;}

#form_input {
    margin-top: 35px;
    width: 35%;
    margin-left: 38%;
    font-size: 1.1em;
}
#form_input label {
    color: black;
    cursor: pointer;
    font-size: 1.4em;
    font-family: 'Suez',serif;
}

#form_input label > span {
    color: red;
}

#form_input input, #form_input textarea {
    margin-bottom: 10px;
    width: 70%;
    padding: 10px 2%;
    border-radius: 7px;
    border: 2px solid silver;
    font-size: 0.9em;
    color: #4a4a4a;
}
#form_input input:focus, #form_input textarea:focus {
    border-color: black;
}
.btn {
    float: left;
    border-radius: 5px;
    padding: 5px 9px;
    font-size: 1.2em;
    background-color: #ec6550;
    text-shadow: #454545 0 0 2px;
    cursor: pointer;
    color: white;
    font-family: 'Suez',serif;
}

.btn:hover {background-color: greenyellow;}